/* Icon */

.icon {
    font-size: large;
    color: rgb(253, 253, 253);
}
.action{
    text-align: center;
}
.edit {
    font-size:small;
    color: #FF8000;
    
}
.delete {
    font-size: small;
    color: #FE2E2E;
    cursor: pointer;
}

.home {
    font-size: 1.5em;
    color: rgb(253, 253, 253);
}

.male{
    color: blue;
    
}
.female{
    color: red;
}
.img-icon{
    width: 16px;
    height: 16px;
}
.arrow-icon {
    position: relative;
    right: 2rem;
    width: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
     color: #d5adc8;
}

.low{
 color: #d5adc8;
}
.high{
color: #b876a2 ;
}




